[Unit]
Description=nebula
Wants=network-online.target
After=nss-lookup.target
Before=sshd.service
StartLimitIntervalSec=30
StartLimitBurst=5

[Service]
SyslogIdentifier=nebula
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/usr/local/bin/nebula -config /etc/nebula/config.yml
Restart=always

[Install]
WantedBy=multi-user.target
